@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.sitenav {
  padding: 43px 40px 45px 30px;
  background: linear-gradient(175.93deg, #5F00D8 -10.23%, #B200F1 117.03%);
  max-width: 251px;
  width: 100%;
  min-height: 100vh;
  transition: all 0.4s;
}

.sitenav-line {
  margin-top: 35px;
  margin-bottom: 38px;
  max-width: 181px;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #FFFFFF;
}

.sitenav-item + .sitenav-item {
  margin-top: 50px;
}

.sitenav-link {
  display: inline-block;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: all 0.4s ease;
}

.sitenav-link:hover {
  opacity: 0.6;
  color: black;
}

.sitenav-link:active {
  opacity: 0.2;
}

.sitenav-link-api::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 25px;
  margin-right: 20px;
  background-image: url(../../assets/images/api.png);
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
}

.sitenav-link-todo::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 20px;
  margin-right: 20px;
  background-image: url(../../assets/images/todo.png);
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
}

.hamburger {
  margin: 10px;
  padding: 25px;
  background: none;
  border: transparent;
  width: 30px;
  height: 30px;
  background-image: url(../../assets/images/bars-solid.svg);
  background-repeat: no-repeat;
}

.close {
  background-color: #FFFFFF;
  cursor: pointer;
}
